.ant-table-row-alternate {
  background-color: #e2e0e0;
}
.ant-table-row-base {
  background-color: #f3f3f3; 
}

.ant-table {
  font-size: 12px; /* Cambia el tamaño de la fuente de toda la tabla */
}
